@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>SnehalKumar repo</h1>
<h2>Changes done by rupesh</h2>
<h1>Changes in rupesh Branch</h1>
<h1>This all chnges done in Rupesh Brach on Rupesh laptop</h1> 




<h2>Change done on rupesh Branch on rupesh laptop</h2>